<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls" publicKeyToken="d3625f8bf04286d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.3.2015.40" newVersion="2015.3.2015.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Core" publicKeyToken="d3625f8bf04286d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.3.2015.40" newVersion="2015.3.2015.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Data" publicKeyToken="d3625f8bf04286d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.3.2015.40" newVersion="2015.3.2015.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Flow" publicKeyToken="d3625f8bf04286d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.3.2015.40" newVersion="2015.3.2015.40" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>